.admin-main {
    background: url('../img/adminbg.png');
    background-position: center center;
    background-size:cover;
    width: 100%;
    height: 150vh;
    position: relative;

  

    &__title {
        color:#474b57;
        font-size: 2rem;
        font-family: 'Roboto',sans-serif;
    }
    }

   

    