.form-application {

     background:rgba(#231e24,0.5);
     display: block;
    //  width: 380px;
     margin:  0 auto;

     @include atTabletsPortrait {
         width: 380px;
     }

     &-container {

         padding-top:50px;
        //  padding-bottom: 20px;s
         padding-left:20px;
         padding-right: 20px;  

     }
     &__title {

        text-align: center;
         color:white;
         font-size:1.8rem;
         text-transform: uppercase;
         font-family: 'SansusWebissimo',sans-serif;
         font-weight: 100;

         &::after {
             content: '';
             display: block;
             height: 3px;
             width: 85px;
             background: #878784;
             margin: 30px auto;

         }
     }
     &__input {
         color:white;
         width: 100%;
         height: 50px;
         margin:10px 0;
         outline: none;
         background: rgba(#303333,0.5);
         border:none;

     }
     &__textarea {
         background: rgba(#303333,0.5);
         width: 100%;
         height: 130px;
         outline: none;
         border:none;
         resize: none;
         margin-bottom: 20px;
     }
    ::-webkit-input-placeholder {
        color:white;
        font-family: 'Roboto',sans-serif;
    }

}