.skills {

    margin-top: 30px;
    @include atTabletsPortrait {
    margin-top:100px;

    }


    &-row{


        &__title {

            color:#474b57;
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center;

            @include atTabletsPortrait {
                font-size: 2rem;
            }


        }

        &__item {
            
            display: inline-block;

        }
    }

}