.tabs {

    &__list {
        display:block;
        list-style-type: none;

    }
    &__item {
        display: block;
        padding:35px 80px;
        border-right: 1px solid white;
        text-align: center;
    
        @include atTabletsLandscape {
            text-align: justify;
            display: inline-block;
        }
        &:hover {
            background: white;
            transition: 0.3s ease-in-out;
        }

    a {
          text-decoration: none;
    }

    }
}